language: node_js
node_js: node
services:
- mongodb
- docker
after_success:
- docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" registry.heroku.com;
- docker push registry.heroku.com/guarded-lowlands-58773;